<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Miletic Filip</h2>
      <h4>miletic.filip01@skiff.com</h4>
    </div>
    <img src="https://pbs.twimg.com/profile_images/1490156332720087042/XDSqpwR9_400x400.png" alt="Miletic Filip">
  </div>
  <mat-divider></mat-divider>

  <h2 matSubheader>Pages</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Liste Crypto</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a>

  <mat-divider></mat-divider>

  <h2 matSubheader>Tools</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>import_contacts</mat-icon>
    Contacts
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>contact_phone</mat-icon>
    Leads
  </a>

</mat-nav-list>


