<mat-divider></mat-divider>
<footer>
  <span class="left">&copy; All right reserved 2022</span>
  <div class="right">
    <a href=""><img src="../../../../assets/instagram-brands.svg" alt=""></a>
    <a href=""><img src="../../../../assets/snapchat-brands.svg" alt=""></a>
    <a href=""><img src="../../../../assets/twitter-square-brands.svg" alt=""></a>
    <a href=""><img src="../../../../assets/telegram-brands.svg" alt=""></a>
  </div>
</footer>
